.card {
  border: 1px solid black;
  max-width: 43.75rem;
  height: 21.875rem;

  display: flex;
  flex-direction: column;
  background-color: #232323;
  border-radius: 0.625rem;
}

.card__title {
  margin: 0 auto;
}

.card__title > h3 {
  color: white;
}

.card__body {
  background-color: #616161;
  width: 90%;
  margin: 0 auto;
  height: 70%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card__stats {
  margin-top: 0.513rem;
  margin-bottom: 0.513rem;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.card__stats__type {
  color: rgb(0, 0, 0);
  font-weight: bold;

  background-color: coral;
  padding: 0.313rem;
  border-radius: 0.313rem;

}

.card > input {
  background-color: #232323;
  color: aliceblue;
  border-radius: 0.313rem 0.313rem 0 0;
  padding: 0.625rem;
}



